<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="TorinoMotors\ModuleAjax\Model\ResourceModel\Marcas\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">torinomotors_marcas_complete</argument>
            <argument name="resourceModel" xsi:type="string">TorinoMotors\ModuleAjax\Model\ResourceModel\Marcas</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="torinomotors_moduleajax_marcas_listing_data_source" xsi:type="string">TorinoMotors\ModuleAjax\Model\ResourceModel\Marcas\Grid\Collection</item>
            </argument>
        </arguments>
    </type>  
    <type name="TorinoMotors\ModuleAjax\Model\ImageUploader">
    <arguments>
        <argument name="baseTmpPath" xsi:type="string">tmp/img</argument>
        <argument name="basePath" xsi:type="string">image/marcas</argument>
        <argument name="allowedExtensions" xsi:type="array">
            <item name="jpg" xsi:type="string">jpg</item>
            <item name="jpeg" xsi:type="string">jpeg</item>
            <item name="gif" xsi:type="string">gif</item>
            <item name="png" xsi:type="string">png</item>
        </argument>
    </arguments>
</type>
</config>