<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>   
        <add 
            id="TorinoMotors_ModuleAjax::automotriz" 
            title="Automotriz" 
            module="TorinoMotors_ModuleAjax" 
            sortOrder="51" 
            resource="TorinoMotors_ModuleAjax::automotriz"
        />
        <add 
            id="TorinoMotors_ModuleAjax::presenciaen" 
            title="Presencia En" 
            module="TorinoMotors_ModuleAjax" 
            sortOrder="10" 
            action="ajaxrequestadmin/presenciaen" 
            resource="TorinoMotors_ModuleAjax::presenciaen" 
            parent="TorinoMotors_ModuleAjax::automotriz"
        />
        <add
            id="TorinoMotors_ModuleAjax::marcas"
            title="Marcas"
            module="TorinoMotors_ModuleAjax"
            sortOrder="51"
            parent="Magento_Backend::marketing"
            resource="TorinoMotors_ModuleAjax::marcas"
        />
        <add
            id="TorinoMotors_ModuleAjax::marcasautos"
            title="Marcas para Autos"
            module="TorinoMotors_ModuleAjax"
            sortOrder="51"
            parent="TorinoMotors_ModuleAjax::marcas"
            action="ajaxrequestadmin/marcas/"
            resource="TorinoMotors_ModuleAjax::marcasautos"
        />
        <add
            id="TorinoMotors_ModuleAjax::fiesta_gam"
            title="Fiesta GAM"
            module="TorinoMotors_ModuleAjax"
            sortOrder="20"
            action="ajaxrequestadmin/fiesta/"
            resource="TorinoMotors_ModuleAjax::fiesta_gam"
        />
        <add
            id="TorinoMotors_ModuleAjax::test_collection"
            title="Test Collection"
            module="TorinoMotors_ModuleAjax"
            sortOrder="20"
            action="ajaxrequestadmin/test/"
            resource="TorinoMotors_ModuleAjax::test_collection"
        />
    </menu>
</config>